<main class="main-lp-show">
  <div class="lp-show">
    
    <div class="heading-lp-show">
      <h1 class="h1-lp-show">Game ON !</h1>
    </div>

    <div class="main-lp-show">
      <ul class="ul-lp-show">
        <% _.each(level_play.get("questions"), function(question){ %>
          <div class="div-lp-show-question"> 
            <h3 class="h3-lp-show-qtitle"><%= question.title %></h3>
            <h3 class="h3-lp-show-qcontent"><%= question.content %></h3>               
            <p class="p-lp-answer">
              <form class="rb-lp-show">
                <% _.each(question.answers, function(answer){ %>
                  <input type="radio" name="answer" data-level_play="<%= level_play.get("id") %>" data-question="<%= question.id %>" data-question-id="<%= question.id %>" value="<%=answer.id %>">__<%=answer.content %>
                <% }); %>          
              </form>                       
            </p>
            <button class="submit-button submit" data-question-id="<%= question.id %>">
              <h5 class="h5-submit-button">SUBMIT</h5>  
            </button>
          </div>
        <% }); %>
      </ul>
    </div>

    <div class="heading2-lp-show">
      <h2 class="h2-lp-show">Score: <span class="score-value"><%= level_play.get("score") %></span></h2>
    </div>
    
    <!-- <button><a class="play" href="/#level_plays/:id"> Score</a></button> -->

  </div>
  <br/>
</main>