
<main>
  
  <div class="image-main">
    <img src="http://upload.wikimedia.org/wikipedia/commons/3/3a/London_from_a_hot_air_balloon.jpg" alt="London" height="100%" width="100%">
    <div class="logo-main">
      <h1 class="h1-logo-main">Bundle</h1>
    </div> 
  </div>  

</main>
