 
<main class="main-statics-index">

  <div class="div-h1-logo-main">    
    <h1 class="h1-logo-main">BUNDLE</h1> 
    <h4 class="h4-logo-main">What do you know about code?</h4> 
  </div>

</main>
  