
<main>
  
  <div class="logo-main">
    <img src="http://upload.wikimedia.org/wikipedia/commons/3/3a/London_from_a_hot_air_balloon.jpg" alt="London" height="100%" width="100%">

    <h1> BUNDLE </h1>
  </div>  

</main>
