// Place all the styles related to the LevelPlays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-lp-show {
  background-color: white;
  height: 100%;
}

.lp-show {
  padding-left: 5%;
  padding-top: 5%;
}

h1.h1-lp-show, h2.h2-lp-show, h3.h3-lp-show-qtitle, h3.h3-lp-show-qcontent, form.rb-lp-show {
  font-family: Courier;
}

.heading-lp-show, .heading2-lp-show {
  padding-left: 11%;
}

.h2-lp-show {
  color: grey;
}

div.div-lp-show-question {
  background-color: #E6E6E6;
  border-style: double;
  border-color: black;
  border-width: 5px;
  margin-left: 10%;
  margin-top: 5%;
  padding: 5%;
  width: 800px;
} 

div.div-lp-show-question:hover {
  background-color: #B8B8B8; 
}

.submit-button {
  background-color: white;
  border-color: black;
  border-width: 2.5px;
}

.h5-submit-button {
  font-family: Courier;
}

.submit-button:hover {
  background-color: yellow; 
}


