<main>
  <div class="t-index">
    
    <div class="div-h1-t-index">
      <h1 class="h1-t-index">Tests</h1>
    </div>
    
    <div class="ul-t-index">
      <ul>
        <% _.each(tests, function(test){ %>
          <button class="button-t-index">
            <a href="/#/tests/<%=test.get("id")%>">
              <!-- <li class="test-image"><%= test.get("image") %></li>                    -->
              <h2 class="test-name"><%= test.get("name") %></h2>                  
              <p class="test-brief"><%= test.get("brief") %></p>
            </a>                   
          </button>
        <% }); %>
      </ul>
    </div>

  </div> 
  <br/>

  <!-- <p class="new-index"><a href="#tests/new"> New Test</a></p> -->
</main>