<main class="main-t-show"> 
  <div class="t-show">
    <div class="div-h1-t-show">
      <h1 class="h1-t-show"><%= test.get("name") %></h1>
    </div>

    <div class="table-t-show">
      <ul>
        <% _.each(test.get("levels"), function(level){ %>
          <button class="button-t-show">
            <a class="play" data-id="<%= level.id %>" href="/#level_plays">
              <h3 class="level-title"><%= level.title %></h3>
              <p class="level-brief"><%= level.brief %></p>
            </a>
          </button>
        <% }); %>
      </ul>
    </div>
  </div> 
  <br/>

  <!-- <p class="new-index"><a href="#tests/new"> New Test</a></p> -->
</main>