<main>
  <div class="m-index">
    <h1 class="h1-m-index">NO CHEATING</h1>

    <table>
      <!-- <thead>
        <tr>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead> -->


      <tbody>
        <% _.each(mathqs, function(mathq){ %>
          <tr>
            <td class="mathq-data"><%= mathq.get("content") %></td>        
          <tr>
            <td class="option1-2-3-data">
              <button class="option1-button"><a class="link" href="#"><%= mathq.get("option1") %></a></button>
              <button class="option2-button"><a class="link" href="#"><%= mathq.get("option2") %></a></button>
              <button class="option3-button"><a class="link" href="#"><%= mathq.get("option3") %></a></button>
            </td>
            <td class="check-data">
              <button class="check-button"><a href="/#mathqs/<%= mathq.get("id") %>">BUNDLE</button>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <br/>

  <p class="new-index"><a href="#mathqs/new"> New Question</a></p>
</main>