<main> 
  <div class="t-show">
    <h1 class="h1-t-show"><%= test.get("name") %></h1>

    <table>
      <tbody>
        <% _.each(test.get("levels"), function(level){ %>
          <tr>
            <td class="level-title"><%= level.title %></td>
            <td class="level-brief"><%= level.brief %></td>
            <td><a class="play" data-id="<%= level.id %>" href="/#level_plays">Create level_play Create & Show <%= level.id %></a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div> 
  <br/>

  <!-- <p class="new-index"><a href="#tests/new"> New Test</a></p> -->
</main>